* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    border: 3px black solid;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    padding: 0 1rem;
    width: 100%;
}

nav .logo {
    max-width: 20%;
    height: 100%;
}

nav .logo img {
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

nav h2 {
    font-size: 1.3rem;
    color: black;
    margin-left: 1rem;
}

nav .idioma {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

nav .idioma img {
    height: 1.6rem;
    width: auto;
}

nav .idioma h2 {
    margin-left: 0.5rem;
}

/*CONTENEDOR DEL BODY*/
.contenido {
    padding-top: 6rem;
    width: 100%;
}

/* INICIO */
.inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 2rem;
}

.caballero, .info, .dragon {
    flex: 1;
    margin: 1rem;
    min-width: 200px;
}

.caballero img, .dragon img {
    width: 100%;
    height: auto;
}

.textos h1 {
    margin-top: 2rem;
}

.textos p {
    font-size: 1.3rem;
}

.descarga {
    margin-top: 2rem;
}

.boton-descarga {
    background-color: #daa515;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-descarga i {
    margin-right: 1rem;
}

.boton-descarga:hover {
    background-color: #c49413;
}

/* SOBRE NOSOTROS */
.sobreNosotros {
    background-color: whitesmoke;
    padding: 2rem;
    text-align: center;
}

.quienesSomos {
    margin-bottom: 2rem;
}

.quienesSomos p {
    font-size: 1.3rem;
}

.equipoFoto {
    display: flex;
    justify-content: center;
}

.equipoFoto img {
    width: 80%;
    height: auto;
}

/* CONTÁCTANOS */
.contactanos {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 2rem;
}

.tutorial, .contacta {
    flex: 1;
    min-width: 300px;
    margin: 1rem;
}

.tituloVideo {
    text-align: center;
}

.videoTutorial iframe {
    width: 100%;
    height: 450px;
}

.correoLitterium {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.correoLitterium img {
    height: 2rem;
    width: auto;
    margin-right: 1rem;
}

.formularioAyuda {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 0.8rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    font-size: 1.4rem;
}

textarea {
    height: 8rem;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.4rem;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px black solid;
    padding: 1rem;
    background-color: whitesmoke;
}

.redSocial {
    text-align: center;
}

.redSocial img {
    height: 4rem;
    width: auto;
    margin-bottom: 0.5rem;
}

.ultimo + div{
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    header {
        height: auto; /* Permite que el header crezca según el contenido */
    }

    nav {
        flex-direction:row;
        align-items: flex-start;
    }

    nav h2 {
        font-size: 0.9rem;
        margin: 0.5rem ;
        margin-top: 2rem;
        text-align: center;
        flex: 1 1 35%; /* Permite que h2 ocupe aproximadamente la mitad del ancho del contenedor */
    }

    nav .idioma img {
        margin-top: 2rem;
        height: 1.3rem;
        width: auto;
    }

    .caballero, .dragon, .idioma h2, .logo img{
        display: none;
    }

    .videoTutorial iframe {
        height: 250px;
    }
}